<%- include('partials/header') %>

<div class="container mt-5">
    <h1 class="text-center mb-5">Yönetim Kurulu</h1>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="/images/team/yonetici_kutan.png" class="card-img-top" alt="Yönetici Kutan">
                <div class="card-body text-center">
                    <h5 class="card-title">Yönetici Kutan</h5>
                    <p class="card-text">Başkan</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="/images/team/yonetici_vahap.png" class="card-img-top" alt="Yönetici Vahap">
                <div class="card-body text-center">
                    <h5 class="card-title">Yönetici Vahap</h5>
                    <p class="card-text">Başkan Yardımcısı</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="/images/team/yonetici_yilmaz.jpg" class="card-img-top" alt="Yönetici Yılmaz">
                <div class="card-body text-center">
                    <h5 class="card-title">Yönetici Yılmaz</h5>
                    <p class="card-text">Genel Sekreter</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 